@charset "utf-8";
/* CSS Document */
* {
    padding: 0;
    margin: 0;
}

body {
    background: url("../img/main/Background.jpg") no-repeat;
    background-size: 100%;
}

nav {
    margin: 0 auto;
    background: transparent;
    text-align: center;
    width: 100%;
    height: 66px;
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, .1); /*盒子阴影*/
}

nav ul li a {
    color: white;
    transition: all linear 0.3s;
    /*实现颜色渐变*/
    display: block;
    /*通过将行内元素转换为块级元素，增大a的作用范围*/
}

nav ul li a:link,
nav ul li a:visited {
    background: transparent;
    text-decoration: none;
    color: white;
}

nav ul li a:hover {
    color: #ee847f;
    text-decoration: #ee847f;
}

ul {
    list-style: none;
    width: 1000px;
    margin: 0 auto;
}

ul li {
    display: inline-block;
    background: transparent;
    color: white;
    font-family: "Microsoft YaHei", serif;
    font-weight: bold;
    font-size: 20px;
    line-height: 70px;
    width: 140px;
    height: 66px;
    text-align: center;
}

ul li:nth-child(4) {
    font-style: italic;
}

#login {
    font-size: 14px;
}

#login a:link,
#login a:hover,
#login a:visited {
    display: inline;
    text-decoration: none;
    color: white;
}

#login a:hover {
    color: #ee847f;
}

.container {
    position: relative;
    margin: 30px auto 160px;
    width: 900px;
    height: 550px;
}

.container img {
    width: 30%;
    height: auto;
    padding: 10px 10px 15px;
    background: white;
    border: 1px solid #ddd;
    box-shadow: 2px 2px 3px rgba(50, 50, 50, 0.4);
    -webkit-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
    position: absolute;
    z-index: 1;
}

.pic1 {
    left: 300px;
    top: 0;
    -webkit-transform: rotate(-5deg);
    -moz-transform: rotate(-5deg);
    transform: rotate(-5deg);
}

.pic2 {
    left: 500px;
    top: 20px;
    -webkit-transform: rotate(-20deg);
    -moz-transform: rotate(-20deg);
    transform: rotate(-20deg);
}

.pic3 {
    bottom: -50px;
    right: 250px;
    -webkit-transform: rotate(5deg);
    -moz-transform: rotate(5deg);
    transform: rotate(5deg);
}

.pic4 {
    bottom: 11px;
    left: 300px;
    -webkit-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    transform: rotate(-10deg);
}

.pic5 {
    bottom: 150px;
    left: 60px;
    -webkit-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    transform: rotate(-10deg);
}

.pic6 {
    top: 0;
    left: -50px;
    -webkit-transform: rotate(10deg);
    -moz-transform: rotate(10deg);
    transform: rotate(10deg);
}

.pic7 {
    top: 20px;
    left: 700px;
    -webkit-transform: rotate(20deg);
    -moz-transform: rotate(20deg);
    transform: rotate(20deg);
}

.pic8 {
    bottom: -20px;
    right: 630px;
    -webkit-transform: rotate(5deg);
    -moz-transform: rotate(5deg);
    transform: rotate(5deg);
}

.pic9 {
    top: 190px;
    left: 550px;
    -webkit-transform: rotate(15deg);
    -moz-transform: rotate(15deg);
    transform: rotate(15deg);
}

.pic10 {
    left: 680px;
    top: 320px;
    -webkit-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    transform: rotate(-10deg);
}

.container img:hover {
    box-shadow: 15px 15px 20px rgba(50, 50, 50, 0.4);
    -webkit-transform: rotate(0deg) scale(1.3);
    -moz-transform: rotate(0deg) scale(1.3);
    transform: rotate(0deg) scale(1.3);
    z-index: 2;
}

#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 100px;
    font-family: century gothic, texgyreadventor, stheiti, sans-serif;
    font-size: 12px;
    color: white;
    text-align: center;
    line-height: 24px;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 10px rgb(0 0 0 / 30%);
    background-color: #ccc;
    border-radius: 5px;
}

::-webkit-scrollbar-track {
    background-color: #e0e0e0;
}

/*以上3条为页面滚动条样式*/
