@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
}

body {
    background: url("../img/main/background.png") no-repeat;
    background-size: 100%;
}

nav {
    margin: 0 auto;
    background: transparent;
    text-align: center;
    width: 100%;
    height: 66px;
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, .1); /*盒子阴影*/
}

nav ul li a {
    color: white;
    transition: all linear 0.3s;
    /*实现颜色渐变*/
    display: block;
    /*通过将行内元素转换为块级元素，增大a的作用范围*/
}

nav ul li a:link,
nav ul li a:visited {
    background: transparent;
    text-decoration: none;
    color: white;
}

nav ul li a:hover {
    color: #ee847f;
    text-decoration: #ee847f;
}

ul {
    list-style: none;
    width: 1000px;
    margin: 0 auto;
}

ul li {
    display: inline-block;
    background: transparent;
    color: white;
    font-family: "Microsoft YaHei", serif;
    font-weight: bold;
    font-size: 20px;
    line-height: 70px;
    width: 140px;
    height: 66px;
    text-align: center;
}
ul li:nth-child(4) {
    font-style: italic;
}

#login {
    font-size: 14px;
}

#login a:link,
#login a:hover,
#login a:visited {
    display: inline;
    text-decoration: none;
    color: white;
}

#login a:hover {
    color: #ee847f;
}

#parent1 {
    background: url("../img/main/dusk.jpg") no-repeat bottom;
    background-size: 100%;
    width: 1000px;
    height: 500px;
    margin: 0 auto;
    box-shadow: 1px 10px 10px 10px rgba(0, 0, 0, .3);
}

#activity {
    float: right;
    padding-top: 5px;
    margin-right: 40px;
    margin-top: 50px;
    background-color: #5c4861;
    border: 0 solid black;
    border-radius: 10px;
    width: 300px;
    height: 400px;
}

#box1 {
    background-image: linear-gradient(#5c4861, #495682);
    /*注意是image不是color*/
    padding-left: 10px;
}

#ac {
    display: block;
    color: white;
    font-size: 12px;
    font-style: italic;
}
#a {
    font-size: 14px;
}

#box2 {
    font: 12px 黑体, serif;
    padding-top: 15px;
    padding-left: 20px;
    padding-right: 20px;
    width: 260px;
    height: 245px;
    border-radius: 0 0 10px 10px;
    background-image: linear-gradient(#495682, #323232);
}

#m {
    font-size: 16px;
}

#box2 p {
    line-height: 35px;
}
#box2 p:last-child {
    font-style: italic;
    font-size: 12px;
}

#box2 a {
    display: inline-block;
    transition: all linear 0.5s;
}

#box2 a:link,
#box2 a:visited {
    text-decoration: none;
    color: white;
}

#box2 a:hover {
    /*text-decoration: underline white;*/
    text-decoration: underline;
    color: #ee847f;
    transform: translateY(-5px); /*为何这条代码不生效*/
    transition: all linear 0.5s;
}

/*书写先后顺序很重要，否则不起作用。我之前hover写在第一项*/

#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 100px;
    font-family: century gothic, texgyreadventor, stheiti, sans-serif;
    font-size: 12px;
    color: white;
    text-align: center;
    line-height: 24px;
}

