@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
}

body {
    background: url("../img/main/background.png") no-repeat;
    background-size: 100%;
}

nav {
    margin: 0 auto;
    background: transparent;
    text-align: center;
    width: 100%;
    height: 66px;
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, .1); /*盒子阴影*/
}

nav ul li a {
    color: white;
    transition: all linear 0.3s;
    /*实现颜色渐变*/
    display: block;
    /*通过将行内元素转换为块级元素，增大a的作用范围*/
}

nav ul li a:link,
nav ul li a:visited {
    background: transparent;
    text-decoration: none;
    color: white;
}

nav ul li a:hover {
    color: #ee847f;
    text-decoration: #ee847f;
}

ul {
    list-style: none;
    width: 1000px;
    margin: 0 auto;
}

ul li {
    display: inline-block;
    background: transparent;
    color: white;
    font-family: "Microsoft YaHei", serif;
    font-weight: bold;
    font-size: 20px;
    line-height: 70px;
    width: 140px;
    height: 66px;
    text-align: center;
}
ul li:nth-child(4) {
    font-style: italic;
}

#login {
    font-size: 14px;
}

#login a:link,
#login a:hover,
#login a:visited {
    display: inline;
    text-decoration: none;
    color: white;
}

#login a:hover {
    color: #ee847f;
}

#parent1 {
    background: url("../img/main/dusk.jpg") no-repeat bottom;
    background-size: 100%;
    width: 1000px;
    height: 500px;
    margin: 0 auto;
    box-shadow: 1px 10px 10px 10px rgba(0, 0, 0, .3);
}

/*书写先后顺序很重要，否则不起作用。我之前hover写在第一项*/

#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 100px;
    font-family: century gothic, texgyreadventor, stheiti, sans-serif;
    font-size: 12px;
    color: white;
    text-align: center;
    line-height: 24px;
}



table {
    margin: 0 auto;
    border-collapse: collapse;
    font-family: "宋体", serif;
    color: white;
}

table caption {
    font-size: 20px;
    text-align: center;
    line-height: 80px;
    font-weight: bold;
}

table tr {
    height: 50px;
    text-align: center;
    vertical-align: middle;
}

table tr th,
table tr td {
    border: 1px solid rgba(238, 132, 127, .5);
}

table tr th {
    font-size: 15px;
    width: 100px;
}
table tr td {
    font-size: 14px;
    width: 135px;
}

tr:last-child th, tr:last-child td {
    border-bottom: 0;
}
table tr td:last-child, tr th:last-child {
    border-right: 0;
}

thead tr:first-child th {
    border-top: 0;
}
thead tr:first-child th:first-child{
    border-left: 0;
}
tbody tr th:first-child {
    border-left: 0;
}
tbody tr:nth-child(5) th {
    border-bottom: 0;
}




